@{
    ViewData["Title"] = "Youtube Feed";
}

<h1>@ViewData["Title"]</h1>

<div>
    <form id="videoSearch"
            asp-action="YoutubeSearch" 
            asp-controller="Youtube" 
            method="post">
        
        <h2>This Form will submit via AJAX</h2>

        <input type="text" 
            id="SearchTerm" 
            name="SearchTerm"
            placeholder="Try a search term..." value="" />
        
        <select id="Order"
            name="Order">
            <optgroup>
                <option value="Relevance" disabled selected>Sort results by?</option>
                <option value="Relevance">Relevance</option>
                <option value="Date">Date</option>
                <option value="Rating">Rating</option>
                <option value="Title">Title</option>
                <option value="ViewCount">View Count</option>    
            </optgroup>    
        </select>

        <select id="VideoDefinition"
            name="VideoDefinition">
            <optgroup>
                <option value="Any" disabled selected>HD or standard def?</option>
                <option value="Any">Any</option>
                <option value="High">HD</option>
                <option value="Standard">SD</option> 
            </optgroup>    
        </select>

        <select id="VideoDimension"
            name="VideoDimension">
            <optgroup>
                <option value="Any" disabled selected>3D or 2D videos?</option>
                <option value="Value2d">2D</option>
                <option value="Value3d">3D</option>
                <option value="Any">Any</option>
            </optgroup>
        </select>

        <select id="VideoDuration"
            name="VideoDuration">
            <optgroup>
                <option value="Any" disabled selected>Video length?</option>
                <option value="Short__">Short</option>
                <option value="Medium">Medium</option>
                <option value="Long__">Long</option>
                <option value="Any">Any</option>
            </optgroup>
        </select>

        <button type="submit" id="YoutubeSearchButton">Search YouTube!</button>
    </form>
</div>
<div id="SearchResults">
    <div>@Html.Raw(ViewData["videoSearch"])</div>
</div>