@{
    ViewData["Title"] = "Youtube Feed";
}

<h1>@ViewData["Title"]</h1>

<div>
    <form id="videoSearch"
            asp-action="YoutubeSearch" 
            asp-controller="Youtube" 
            method="post">
        
        <h2>This Form will submit via AJAX</h2>

        <input type="text" 
            id="SearchTerm" 
            name="SearchTerm"
            placeholder="Try a search term..." value="" />
        
        <select id="Order"
            name="Order">
            <optgroup>
                <option value="Relevance" disabled selected>Choose a Sort Method</option>
                <option value="Relevance">Relevance</option>
                <option value="Date">Date</option>
                <option value="Rating">Rating</option>
                <option value="Title">Title</option>
                <option value="ViewCount">View Count</option>    
            </optgroup>    
        </select>

        <select id="VideoDefinition"
            name="VideoDefinition">
            <optgroup>
                <option value="any" disabled selected>Choose a Video Definition</option>
                <option value="any">Any</option>
                <option value="high">HD</option>
                <option value="standard">SD</option> 
            </optgroup>    
        </select>

        <select id="VideoDimension"
            name="VideoDimension">
            <optgroup>
                <option value="any" disabled selected>Choose Video Dimensions</option>
                <option value="2D">2D</option>
                <option value="3D">3D</option>
                <option value="any">Any</option>
            </optgroup>
        </select>

        <select id="VideoDuration"
            name="VideoDuration">
            <optgroup>
                <option value="any" disabled selected>Choose Video Dimensions</option>
                <option value="short">Short</option>
                <option value="medium">Medium</option>
                <option value="long">Long</option>
                <option value="any">Any</option>
            </optgroup>
        </select>

        <button type="submit" id="YoutubeSearchButton">Search YouTube!</button>
    </form>
</div>
<div id="SearchResults">
    <div>@Html.Raw(ViewData["videoSearch"])</div>
</div>